<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/navbar'); %>
    <div class="section">
      <div class="columns">
        <!-- Side menu -->
        <div class="column is-one-fifth"><%- include('../partials/admin_side'); %></div>
        <!-- Content -->
        <div class="column">
          <div class="content">
            <h1 class="title is-3 box"><%= page %></h1>
          </div>
          <!-- Edit table -->
          <%- include('../partials/forms/admin_table'); %>
        </div>
      </div>
    </div>
  </body>
</html>