<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head')%>
  </head>

  <body>
    <div class="container content">
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>

      <a href="/"><%= text.index %></a>
    </div>
  </body>
</html>
