<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <section class="section is-paddingless"><%- include('./partials/navbar'); %></section>
    <section class="section">
      <div class="columns">
        <div class="column is-1">
          <div class="section is-paddingless">
            <aside class="menu">
              <p class="menu-label"><%= text.admin.platforms %></p>
              <ul class="menu-list">
                <li>
                  <a href="/">Todos</a>
                </li>
                <% platforms.forEach( (platform, i) => { %>
                <li>
                  <% if (platform.Games.length > 0) { %>
                    <a href="/platform/<%= platform.id %>"><%= platform.name %></a>
                  <% } %>
                </li>
                <% }); %>
              </ul>
            </aside>
          </div>
        </div>
        <div class="column">
          <%- include('./partials/game_table'); %>
        </div>
      </div>
    </section>
  </body>
</html>
