<% if (messages.form_error) { %>
  <div class="notification is-danger">
    <button class="delete"></button>
    <%= messages.form_error %>
  </div>
  <% } %>
  <form action="<%= action %>" method="POST">
    <div class="columns">
      <div class="column is-4">
        <label class="label"><%= text.forms.cover %></label>
        <figure class="image">
          <img class="form-cover" src="data:image/jpg;base64,<%= edit.image %>" alt="Cover" onerror="this.src='../../../images/placeholder.png'"/>
        </figure>
        <div class="field pt-3">
          <div class="control">
            <input class="input cover-url" type="text" name="coverUrl" placeholder="url" />
          </div>
        </div>
        <label class="label mt-2"><%= text.table.launch_date %></label>
        <div class="columns">
          <div class="field column is-4 pr-1">
            <label class="label"><%= text.table.japan %>:</label><input class="input" type="date" name="dateJP" value="<%= edit.jpDate %>" />
          </div>
          <div class="field column is-4 pl-1 pr-1">
            <label class="label"><%= text.table.europe %>:</label><input class="input" type="date" name="dateEU" value="<%= edit.eurDate %>" />
          </div>
          <div class="field column is-4 pl-1">
            <label class="label"><%= text.table.america %>:</label><input class="input" type="date" name="dateNA" value="<%= edit.naDate %>" />
          </div>
        </div>
        <div class="field">
          <div class="columns is-vcentered">
            <div class="column is-2">
              <label class="label"><%= text.admin.franchises %>: </label>
            </div>
            <div class="column">
              <div class="select franchise">
                <select name="franchise">
                  <option value="-1">----</option>
                    <% data.franchises.forEach( (item, i) => { %>
                      <% if (edit.Franchise && item.id === edit.Franchise.id) { %>
                        <option value="<%= item.id %>" selected >
                          <%= item.name %>
                        </option>
                      <% } else { %>
                        <option value="<%= item.id %>">
                          <%= item.name %>
                        </option>
                      <% } %>
                    <% }) %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label"><%= text.forms.name %></label>
          <div class="control">
            <input class="input" type="text" name="name" value="<%= edit.name %>"required />
          </div>
        </div>
        <div class="field">
          <label class="label"><%= text.forms.alt_name %></label>
          <div class="control">
            <input class="input" type="text" name="altNames" value="<%= edit.altNames %>"/>
          </div>
        </div>
        <div class="field">
          <label class="label"><%= text.forms.description %></label>
          <div class="control">
            <textarea class="textarea" placeholder="" name="description"><%= edit.description %></textarea>
          </div>
        </div>
        <div class="field">
          <label class="label"><%= text.forms.comments %></label>
          <div class="control">
            <textarea class="textarea" placeholder="" name="comments"><%= edit.comments %></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="field column is-full">
        <label class="label"><%= text.admin.platforms %></label>
        <div class="columns is-multiline is-gapless">
          <%
            let pt_ids = [];
            edit.Platforms.forEach((pt => {
              pt_ids.push(pt.id);
            }));
          %>
          <% for (let i = 0; i < data.platforms.length; i++) { %>
          <div class="control column is-2">
            <label class="checkbox">
              <% if (pt_ids.indexOf(data.platforms[i].id) !== -1) { %>
                <input type="checkbox" name="platforms" value="<%= data.platforms[i].id %>" checked />
                <%= data.platforms[i].name %>
              <% } else { %>
                <input type="checkbox" name="platforms" value="<%= data.platforms[i].id %>" />
                <%= data.platforms[i].name %>
              <% } %>
            </label>
          </div>
          <% } %>
        </div>
      </div>
      <div class="field column is-full">
        <label class="label"><%= text.admin.developers %></label>
        <div class="columns is-multiline is-gapless">
          <%
            let dev_ids = [];
            edit.Developers.forEach((dv => {
              dev_ids.push(dv.id);
            }));
          %>
          <% for (let i = 0; i < data.developers.length; i++) { %>
          <div class="control column is-2">
            <label class="checkbox">
              <% if (dev_ids.indexOf(data.developers[i].id) !== -1) { %>
                <input type="checkbox" name="developers" value="<%= data.developers[i].id %>" checked />
                <%= data.developers[i].name %>
              <% } else { %>
                <input type="checkbox" name="developers" value="<%= data.developers[i].id %>" />
                <%= data.developers[i].name %>
              <% } %>
            </label>
          </div>
          <% } %>
        </div>
      </div>
      <div class="field column is-full">
        <label class="label"><%= text.admin.genres %></label>
        <div class="columns is-multiline is-gapless">
          <%
            let gen_ids = [];
            edit.Genres.forEach((gn => {
              gen_ids.push(gn.id);
            }));
          %>
          <% for (let i = 0; i < data.genres.length; i++) { %>
          <div class="control column is-2">
            <label class="checkbox">
              <% if (gen_ids.indexOf(data.genres[i].id) !== -1) { %>
                <input type="checkbox" name="genres" value="<%= data.genres[i].id %>" checked />
                <%= data.genres[i].name %>
              <% } else { %>
                <input type="checkbox" name="genres" value="<%= data.genres[i].id %>" />
                <%= data.genres[i].name %>
              <% } %>
            </label>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column field is-grouped">
        <div class="control">
          <input class="input is-link button" type="submit" value="<%= text.forms.buttons.new %>" />
        </div>
        <div class="control">
          <input class="input is-light button" type="reset" value="<%= text.forms.buttons.reset %>" />
        </div>
      </div>
    </div>
  </form>